.wrapper {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(34, 60, 80, 0.2);
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  min-width: 750px;
  user-select: none;
  .content {
    display: flex;
    justify-content: center;
    max-width: 700px;
    position: relative;
    width: 100%;
  }
  .picker {
    position: relative;
    .disabledAngle {
      path {
        fill: #b7bbcd;
      }
    }
    .angles {
      width: calc(100% - 35px);
      position: absolute;
      top: 18px;
      left: 15px;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      svg {
        width: 20px !important;
        cursor: pointer;
        margin-right: 0 !important;
      }
    }
  }
  .range {
    padding: 10px;
  }
  .fastSelect {
    height: 100%;
    border-left: 1px solid #b6bbcd;
    li {
      text-align: left;
      padding: 10px 0;
      cursor: pointer;
      user-select: none;
    }
  }
}
